@model X.PagedList.IPagedList<CRUD.Models.Department>
@using X.PagedList.Mvc.Core;
<link rel="stylesheet" href="~/css/pagedList.css" />

@{
    ViewBag.Title = "Departamentos";
}

<h2>Departamentos</h2>

<br>

@using (Html.BeginForm("Index", "Departments", FormMethod.Get))
{
    <p>
        Pesquisar Nome: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Procurar" />
    </p>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @if (Model.PageCount != 1)
    {
        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    }
</div>

<a asp-action="Create" class="btn btn-primary">Criar Departamento</a>

